# Use fedora-rawhide to match the pipeline environment image (fedora-41 may not be available there)
include("/etc/mock/fedora-rawhide-@ARCH@.cfg")

# Force DNF to ignore zchunk metadata, bypassing the "Unable to read zchunk lead" error
config_opts['dnf_options'] = ['--setopt=zchunk=False']